*{
  padding: 0;
  margin: 0;
  background-image: url(images/background.jpg);
}

#heading{
  text-align: center;
  border: 2px solid;
  grid-column: 1/3;
}


nav ul li {
  list-style: none;
  color: white;
  text-decoration: none;
}
